*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: #7795de #dce6f9;
  overflow-wrap: break-word;
  word-break: break-word;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: #dce6f9;
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
  background: #7795de;
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #0f3eb5;
}

html, body, #root {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button, a {
  white-space: nowrap;
  word-break: normal;
  overflow-wrap: normal;
}
